{% extends 'application/base.html' %}

{% block title %}Artist Creation{% endblock %}

{% block content %}
    <div class="registration-container">
        <h2>Artist creation</h2>
        <form method="POST" action="" class="artist_create">
            {% csrf_token %}
            {{ form.as_p }}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <button type="submit">Create</button>
        </form>
    </div>
{% endblock %}
